.flexContainer {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   min-height: 570px;
}

.heading {
    font-size: 40px;
    color: #282C3F;
    font-weight: 600;
    width: 300px;
    margin: 0;
    line-height: 1;
    letter-spacing: 0;
}

.subHeading {
    font-size: 20px;
    color: #7e808c;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 60px;
    margin: 0;
    line-height: 1.2;
}

.item1 {
   margin-right: 2vw;
   margin-left: 2vw;
}

.item2 {
   align-self: flex-start;
}

.item3 {
   align-self: flex-end;
   position: relative;
   margin-left: -5vw;
   margin-right: -3vw;
}

@media screen and (max-width: 1100px) {

   .item2{
      display: none;
   }
}

@media screen and (max-width: 730px) {

   .flexContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
   }
   .item3{
      margin: 30px auto 0 auto;
   }
   .heading{
      width: auto;
   }
   .subHeading{
      width: auto;
   }
   .item1{
      text-align: center;
   }
}